{
  "presets": [["es2015", { "modules": false }], "react", "stage-0"],
  "plugins": ["transform-runtime", "lodash"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
