{
  "presets": ["latest", "stage-0"],
  "plugins": ["transform-react-jsx", "transform-runtime", "lodash"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
