{
    "plugins": [
        "react",
        "mocha"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": false,
        "jquery": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "spread": true,
        "templateStrings": true,
        "jsx": true
    },
    "rules": {
        "consistent-return": [0],
        "key-spacing": [0],
        "quotes": [0, "single", "avoid-escape"],
        "quote-props": [1, "as-needed"],
        "new-cap": [0],
        "no-multi-spaces": [0],
        "no-shadow": [0],
        "no-unused-vars": [1],
        "no-undef": 2,
        "no-unused-expressions": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-trailing-spaces": [2],
        "eol-last": [0],
        "no-labels": [2],
        "indent": 2,
        "no-mixed-spaces-and-tabs": 0,
        "vars-on-top": 2,
        "camelcase": [2, {"properties": "never"}],
        "semi": [2, "always"],


        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-unknown-property": 1,
        "react/wrap-multilines": 1,
        "react/react-in-jsx-scope": 1,
        "react/no-unknown-property": 2
    }
}
