{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true ,
    "amd": true
  },
  ecmaFeatures: {
        jsx: true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "zxcvbn": true
  },
  "rules": {
    // Code style
    "indent": [2, 2],
    "no-alert": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "new-cap": [2, {
      "capIsNewExceptions": ["Immutable", "Map", "List"]
    }],
    "react/display-name": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  }
}
