#application button.btn-xxs {
  padding: 1px 5px;
  font-size: 10px;
}
#application input.short-numeric {
  height: 25px;
  width: 60px;
  text-align: center;
}
#application input.compact-numeric {
  height: 25px;
  width: 45px;
  text-align: center;
}
#application input.super-short-numeric {
  height: 25px;
  width: 30px;
  text-align: center;
}
#application table.table-super-condensed td {
  padding-top: 2px;
  padding-bottom: 2px;
}
#application .t-table {
  display: table;
}
#application .t-cell {
  display: table-cell;
}
#application .t-row {
  display: table-row;
}
#application .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#application .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
#application #application-view > .container {
  padding-bottom: 20px;
}
#forgot label {
  font-weight: bold;
  margin-right: 5px;
}
#forgot .spacer {
  margin-top: 15px;
}
#main-landing .header-container .header {
  top: 64px;
  left: 0;
  right: 0;
  width: 100%;
  display: table;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#main-landing .header-container .header .text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#main-landing .header-container .header .text-vertical-center h1 {
  font-size: 60px;
}
#main-landing .start-item {
  text-align: center;
  padding-bottom: 50px;
}
#main-landing #start {
  margin-top: 10px;
  margin-bottom: 10px;
}
#profile .input-description {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  background-color: transparent;
}
#profile .username {
  padding-bottom: 20px;
}
#profile .username legend {
  margin-bottom: 10px;
}
#profile .friend-profile-link {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
#user-profile .profile-avatar .user-avatar {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
#user-profile .jumbotron.compact {
  padding-top: 10px;
  padding-left: 20px;
}
#user-profile .jumbotron.compact h1 {
  font-size: 30px;
}
#user-profile .jumbotron.compact h2 {
  font-size: 24px;
}
#user-profile .jumbotron.compact h3,
#user-profile .jumbotron.compact h4,
#user-profile .jumbotron.compact h5,
#user-profile .jumbotron.compact h6 {
  font-size: 20px;
}
#user-profile .friends .button-add-friend {
  float: left;
  margin-right: 5px;
}
#user-profile .friends .friend-profile-link {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
#user-profile .user-recipes {
  padding-top: 20px;
}
.signup-or-login-to-save-changes .alert {
  margin: 0;
  margin-bottom: 30px;
}
.signup-or-login-to-save-changes .strike .or {
  background-color: #fff;
}
.animated-modal .close-modal {
  cursor: pointer;
  text-align: center;
  font-size: 50px;
}
.animated-modal .animated-modal-content {
  padding: 20px;
}
.animated-modal .fa {
  opacity: 0.6;
  transition: opacity 0.1s;
}
.animated-modal .fa:hover {
  opacity: 1;
}
.bootstrap-modal .modal {
  z-index: 10000;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  border-color: transparent;
  box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
}
.footer .content {
  font-size: 15px;
}
.footer .share-this {
  padding-top: 10px;
}
.footer .share-this [id^=___plusone] {
  width: 72px !important;
}
.markdown-editor textarea {
  padding: 5px;
  line-height: 22px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.markdown-editor .md-header {
  padding-bottom: 4px;
}
.markdown-editor .md-preview {
  height: 100% !important;
  font-size: 16px;
}
.media-signin-buttons .btn-signup {
  margin-top: 15px;
}
.media-signin-buttons .action-button {
  margin-top: 15px;
  text-align: center;
}
.media-signin-buttons .link-signup {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 250px;
}
.media-signin-buttons .link-signup .action {
  font-size: 16px;
}
.media-signin-buttons .link-signup .fa {
  font-size: 20px;
  padding-right: 15px;
}
.navbar-component .btn-profile {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  color: #fff;
  background-color: #58a6e6;
}
.navbar-component .caption {
  padding-right: 5px;
}
.navbar-component .caption .user-avatar {
  height: 25px;
  border-radius: 3px;
}
.spinner {
  text-align: center;
}
.spinner .fa {
  font-size: 30px;
}
.text-editor .btn-toolbar {
  padding-bottom: 3px;
}
.text-editor .editor {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 5px;
}
.tooltip-question {
  color: #0a6bb7;
  margin-left: 5px;
  font-size: 16px;
}
.user-avatar .avatar-border {
  display: inline-block;
  padding: 3px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.user-avatar .avatar-border img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.user-avatar .fa-user {
  padding: 0 5px 0 5px;
  font-size: 30px;
}
.user-notifications {
  width: 260px;
}
.user-notifications .user-notification {
  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.user-notifications .user-notification:last-child {
  border-bottom: none;
}
.user-notifications .user-notification.unread {
  background-color: #f7fbfe;
}
.user-notifications .user-notification .actions {
  padding-top: 5px;
}
.user-notifications .user-notification .actions .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.user-notifications .user-notification .actions .btn .fa {
  margin-right: 10px;
}
.user-notifications .user-notification .user-avatar {
  float: left;
  padding-right: 5px;
}
.strike {
  position: relative;
  border-bottom: 1px #ddd solid;
  height: 20px;
  margin-bottom: 20px;
}
.strike .or {
  position: absolute;
  left: 48%;
  top: 7px;
  padding: 0 3px;
  background-color: #f9f9f9;
}
.btn-numbered-page a,
.btn-next-page a,
.btn-prev-page a,
.btn-first-page a,
.btn-last-page a {
  cursor: pointer;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.panel-info > .panel-heading {
  background-color: #3434f5;
}
.panel-success > .panel-heading {
  background-color: #00bd6c;
}
.alert {
  padding: 2px 10px;
  margin: 0 15px 15px 15px;
}
.alert-warning {
  background-color: #f28700;
}
.panel-heading .btn-toolbar {
  margin-top: -2px;
}
.alert {
  padding: 8px 10px;
}
.label {
  font-size: 90%;
}
.navbar-brand {
  font-size: 30px;
}
.alert-dismissible {
  font-weight: bolder;
}
.alert-dismissible .close {
  right: 0;
}
.tab-pane {
  padding-top: 15px;
}
.popover {
  max-width: 100%;
}
.carousel .carousel-inner .item img {
  margin: auto;
}
.fade-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in;
}
.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
.fade-leave-active {
  opacity: 0.01;
}
.zoom-enter {
  opacity: 0.01;
  transform: scale3d(0.3, 0.3, 0.3);
  transition: all 0.1s ease-in;
}
.zoom-enter-active {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.zoom-leave {
  opacity: 1;
  transition: all 0.1s ease-in;
}
.zoom-leave-active {
  opacity: 0.01;
  transform: scale3d(0.3, 0.3, 0.3);
}
