---
- hosts: all
  become: True
  vars:
    pip_package: python3-pip
    pip_install_packages:
      - name: docker

  vars_files:
  - vars/certbot-vars.yml

  roles:
  - dependencies
  - geerlingguy.pip
  - geerlingguy.firewall
  - geerlingguy.docker
  - { role: geerlingguy.certbot, when: protocol == "https" }
  - { role: certbot-renew-hooks, when: protocol == "https" }
  
  tasks:
  - include_tasks: tasks/docker.yml
  - include_tasks: tasks/redis.yml
  - include_tasks: tasks/pg.yml
    vars:
      data_dir: "{{db_data_dir}}"
      database: "{{db_database}}"
      hostname: "{{db_hostname}}"
      username: "{{db_username}}"
      password: "{{db_password}}"