.animated-modal {

    .close-modal {
        cursor: pointer;
        text-align: center;

        font-size: 50px;
    }

    .animated-modal-content {
        padding: 20px;
    }

    .fa {
        opacity: 0.6;
        transition: opacity 0.1s;

        &:hover {
            opacity: 1.0;
        }
    }

}