/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 36px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* Background color of sidebar */
.bm-menu {
  background: #373a47;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* General menu styles */
.bm-menu {
  padding: 1em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item-list a {
  padding: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  span {
    margin-left: 10px;
  }
}
