.login-view {
    max-width:400px;
    width:100%;
    margin:auto;
    padding:20px;
}

.ladda-button {
    width:100%;
    padding: 10px 10px;
}

.btn-signup {
    width: auto;
    margin:20px;
}

.local-login-form {
}
