.markdown-editor {

    textarea {
        padding: 5px;
        line-height: 22px;

        border: 1px solid #e5e5e5;
        border-radius: 3px;
    }

    .md-header {
        padding-bottom: 4px;
    }

    .md-preview {
        height: 100% !important;
        font-size: 16px;
    }

}