.media-signin-buttons {

    .btn-social-login {
        margin: 20px auto 20px auto;
        width: 256px;
    }

    .action-button {
        margin-top: 15px;
        text-align: center;
    }

    .link-signup {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

        width: 250px;

        .action {
            font-size: 16px;
        }
    }
}
