.media-signin-buttons {

    .btn-signup {
        margin-top: 15px;
    }

    .action-button {
        margin-top: 15px;
        text-align: center;
    }

    .link-signup {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

        width: 250px;

        .action {
            font-size: 16px;
        }

        .fa {
            font-size: 20px;
            padding-right: 15px;
        }
    }
}