.navbar-component {

    .btn-profile {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;

        color: white;
        background-color: #58A6E6;
    }

    .caption {
        padding-right: 5px;

        .user-avatar {
            height: 25px;
            border-radius: 3px;
        }

    }

}