.user-avatar {

    .avatar-border {
        display: inline-block;

        padding: 3px;

        border: 1px solid silver;
        border-radius: 3px;

        img {
            width: 30px;
            height: 30px;

            border-radius: 3px;
        }
    }

    .fa-user {
        padding: 0 5px 0 5px;
        font-size: 30px;
    }

}