.user-notifications {

    width: 260px;

    .user-notification {
        padding: 6px;

        padding-top: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid #f1f1f1;

        &:last-child {
            border-bottom: none;
        }

        &.unread {
            background-color: #58A6E6 + 95%;
        }

        .actions {
            padding-top: 5px;

            .btn {
                padding-top: 0;
                padding-bottom: 0;

                .fa {
                    margin-right: 10px;
                }
            }
        }

        .user-avatar {
            float: left;
            padding-right: 5px;
        }

    }


}