
.db-tables {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.db-table {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    padding: 0px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.db-table-name {
}
