const config = {
    general: {
        title: '{{title}}',
        description: '{{description}}',
        apiUrl: '/api/v1/',
        analytics: {
            google: '{{google_analytics}}'
        },
        socialAuth: ['facebook', 'google'],
        debug: {
          log: false,
          redux: false,
          i18n: false
        }
    },

  development: {
    env: "development",
    debug: {
      log: true,
      i18n: false
    }
  },

  production: {
    env: "production"
  }
};

/* global process */
export default Object.assign({}, config.general, config[process.env.NODE_ENV]);