import _ from 'lodash';

let env = process.env;

let config = {

    general: {
        title: '{{title}}',
        description: '{{description}}',
        apiUrl: '/api/v1/',
        analytics: {
            google: '{{google_analytics}}'
        }
    },

    development: {
        env: "development"
    },

    production: {
        env: "production"

    }
};

export default _.extend( {}, config.general, config[ env.NODE_ENV ] );
