.vscode
build/
node_modules/
.DS_Store
*.swo
*.swp
nohup.out
log/server.log
config/config.json
config/features.json
npm-debug.log
logfile
env/deploy/config.json
logs/*.log
coverage
.buildpath
.project
.settings/
log.txt
*.sqlite
.coveralls.yml
config/development.json
config/heroku.json
config/travis.json
