version: '3'
services:
  pg:
    image: postgres:10-alpine
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: dev
      POSTGRES_PASSWORD: password
    expose:
      - "5432"
    ports:
      - "6432:5432"
  redis:
    image: smebberson/alpine-redis
    expose:
      - "6379"