#application {

    button.btn-xxs {
        padding: 1px 5px;
        font-size: 10px;
    }

    input.short-numeric {
        height: 25px;
        width: 60px;
        text-align: center;
    }

    input.compact-numeric {
        height: 25px;
        width: 45px;
        text-align: center;
    }

    input.super-short-numeric {
        height: 25px;
        width: 30px;
        text-align: center;
    }

    table.table-super-condensed {
        td {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    .t-table {
        display: table;
    }

    .t-cell {
        display: table-cell;
    }

    .t-row {
        display: table-row;
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .no-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
    }

    #application-view > .container {
        padding-bottom: 20px;
    }

}