header-height = 400px;

#main-landing {

    .header-container {

        .header {

            top: 64px;
            left: 0;
            right: 0;

            width: 100%;
            //min-height: header-height;

            display: table;

            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;

            .text-vertical-center {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                h1 {
                    font-size: 60px;
                }

                h1, h2 {

                }
            }
        }
    }

    .start-item {
        text-align: center;
        padding-bottom: 50px;
    }

    #start {
        margin-top: 10px;
        margin-bottom: 10px;


    }

}
