#profile {

    .input-description {
        width: 100%;
        min-height: 40px;

        padding: 5px;

        background-color: transparent;
    }

    .username {
        padding-bottom: 20px;

        legend {
            margin-bottom: 10px;
        }
    }

    .friend-profile-link {
        display: inline-block;
        float: left;
        margin-right: 5px;
    }


}