h1-font-size = 30px;

#user-profile {

    .profile-avatar {
        .user-avatar {
            float: right;
            padding-right: 20px;
            padding-top: 20px;
        }

    }

    .jumbotron.compact {
        padding-top: 10px;
        padding-left: 20px;

        h1 {
            font-size: h1-font-size;
        }

        h2 {
            font-size: h1-font-size - 6px;
        }

        h3, h4, h5, h6 {
            font-size: h1-font-size - 10px;
        }
    }

    .friends {
        .button-add-friend {
            float: left;
            margin-right: 5px;
        }
        .friend-profile-link {
            display: inline-block;
            float: left;
            margin-right: 5px;
        }
    }

    .user-recipes {
        padding-top: 20px;
    }

}