
.icon-github-circled-alt2:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-stackexchange:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-database:before { content: '\e805'; } /* '' */
.icon-shield:before { content: '\e806'; } /* '' */
.icon-retweet:before { content: '\e807'; } /* '' */
.icon-off:before { content: '\e808'; } /* '' */
.icon-spin1:before { content: '\e809'; } /* '' */