.view {
    max-width:500px;
    width:100%;
    margin:auto;
    padding:20px;
}

.strike {
    position: relative;

    border-bottom: 1px #ddd solid;

    margin-bottom: 20px;

    .or {
        position: absolute;
        left: 48%;
        top: 7px;

        padding: 0 3px;

        background-color: #f9f9f9;
    }

}

.btn-numbered-page, .btn-next-page, .btn-prev-page, .btn-first-page, .btn-last-page {
    a {
        cursor: pointer;
    }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
