
.btn-numbered-page, .btn-next-page, .btn-prev-page, .btn-first-page, .btn-last-page {
    a {
        cursor: pointer;
    }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
