media-common-styles() {
    p {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .about {
        font-size: 12px;
        height: 18px;
    }

    span.time, span.link {
        margin-left: 5px;
        border-bottom: 1px dotted silver;
    }
}