// for sticky footer
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: footer-height;
}

//paper theme overrides
.panel-info > .panel-heading {
    background-color: #3434F5;
}

.panel-success > .panel-heading {
    background-color: #00BD6C;
}

.alert {
    padding: 2px 10px;
    margin: 0 15px 15px 15px;
}

.alert-warning {
    background-color: #f28700;
}

.panel-heading {
    .btn-toolbar {
        margin-top: -2px;
    }
}

.alert {
    padding 8px 10px;
}

.label {
    font-size: 90%;
}

.navbar-brand {
    font-size: 30px;
}

.alert-dismissible {
    font-weight: bolder;

    .close {
        right: 0;
    }
}

.tab-pane {
    padding-top: 15px;
}

.popover {
    max-width: 100%;
}

.carousel {
    .carousel-inner {
        .item {
            img {
                margin: auto;
            }
        }
    }

}
