fast-transition-speed = 0.2s;
very-fast-transition-speed = 0.1s;

.fade {

    &-enter {
        opacity: 0.01;
        transition: opacity fast-transition-speed ease-in;

        &-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;
        transition: opacity very-fast-transition-speed ease-out;

        &-active {
            opacity: 0.01;
        }
    }

}

.zoom {

    &-enter {
        opacity: 0.01;
        transform: scale3d(.3, .3, .3);
        transition: all 0.1s ease-in;

        &-active {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }

    }

    &-leave {
        opacity: 1;
        transition: all 0.1s ease-in;

        &-active {
            opacity: 0.01;
            transform: scale3d(.3, .3, .3);
        }
    }

}
